<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand">CoinFalcon</span>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
